aiohttp
aiosignal
async-timeout
attrs
certifi
cffi
charset-normalizer
click
cryptography
datasets
dill
emoji
filelock
Flask
frozenlist
fsspec
gunicorn
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
pyarrow
pycparser
pydub
PyMySQL
pysentimiento
python-dateutil
pytz
PyYAML
regex
requests
responses
scikit-learn
scipy
six
scikit-learn
SpeechRecognition
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
xxhash
yarl
zipp